@model string
<option value="CQSSC" @(Model == "CQSSC" ?"selected='selected'":"")>重庆时时彩</option>
<option value="JX11X5" @(Model == "JX11X5" ?"selected='selected'":"")>江西11选5</option>
<option value="SD11X5" @(Model == "SD11X5" ?"selected='selected'":"")>山东11选5</option>
<option value="GD11X5" @(Model == "GD11X5" ?"selected='selected'":"")>广东11选5</option>
<option value="GDKLSF" @(Model == "GDKLSF" ?"selected='selected'":"")>广东快乐十分</option>
<option value="JSKS" @(Model == "JSKS" ?"selected='selected'":"")>江苏快三</option>
<option value="SDKLPK3" @(Model == "SDKLPK3" ?"selected='selected'":"")>山东快乐扑克3</option>
<option value="FC3D" @(Model == "FC3D" ?"selected='selected'":"")>福彩3D</option>
<option value="PL3" @(Model == "PL3" ?"selected='selected'":"")>排列3</option>
<option value="SSQ" @(Model == "SSQ" ?"selected='selected'":"")>双色球</option>
<option value="DLT" @(Model == "DLT" ?"selected='selected'":"")>大乐透</option>
<option value="CTZQ" @(Model == "CTZQ" ?"selected='selected'":"")>传统足球</option>
<option value="BJDC" @(Model == "BJDC" ?"selected='selected'":"")>北京单场</option>
<option value="JCZQ" @(Model == "JCZQ" ?"selected='selected'":"")>竞彩足球</option>
<option value="JCLQ" @(Model == "JCLQ" ?"selected='selected'":"")>竞彩篮球</option>
